*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'JetBrains Mono';
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #18171F;
}


.title{
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #817D92;
    margin-top: 6.4rem;
    margin-bottom: 1.6rem;
}

.pass-div{
    height: 6.4rem;
    width: 34.3rem;
    background: #24232C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7rem 2.2rem 1.5rem 1.6rem;
    font-size: 24px;
    line-height: 32px;
    color: #E6E5EA;
}
.copy-password{
    cursor: pointer;
}

.copy-password:hover{
    filter: grayscale(1);
}
.container{
    margin-top: 1.6rem;
    background: #24232C;
    width: 34.4rem;
    padding: 2.1rem 1.6rem 1.6rem 1.6rem;
}

.length-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.length{
    font-size: 16px;
line-height: 21px;
color: #E6E5EA;
}

.result{
    font-size: 24px;
line-height: 32px;
color: #A4FFAF;
}

.slider {
    margin-top: 1.3rem;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: linear-gradient(to right,rgba(164, 255, 175, 1) 0%,rgba(164, 255, 175, 1) 50%, rgba(24, 23, 31, 1) 50%,rgba(24, 23, 31, 1));
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #E6E5EA;
    width: 28px;
    height: 28px;
    border-radius: 50%; 
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb:hover{
    border: 2px solid #A4FFAF;
    background-color: #18171F;
  }

  .includes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    line-height: 21px;
    color: #E6E5EA;
    gap: 1.6rem;
    margin-top: 3.2rem;
  }
  .checkbox{
    display: flex;
    justify-content: flex-start;
    text-align:  center;
    gap: 2rem;
  }


  .check[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E6E5EA;
    content: "";
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .check[type="checkbox"]:hover{
    border: 2px solid #A4FFAF;
  }
  .check[type="checkbox"]::before {
    width: 20px;
    height: 20px;
    content: "";
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    background-image: url(assets/images/icon-check.svg), linear-gradient(135deg, #A4FFAF 0%, #A4FFAF 100%);
    background-repeat: no-repeat;
    background-position: center;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .strength{
    margin-top: 4.9rem;
    height: 5.6rem;
    width: 100%;
    background-color: #18171F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.4rem 1.4rem 1.6rem;

    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #817D92;
  }
.strength-two, .divs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}
.medium{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #E6E5EA;
    margin-right: 1.5rem;
  }

  .medium-medium{
    color: #F8CD65;
  }
  .weak{
    color: #e17070;
  }
  .strong{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #A4FFAF;
    margin-right: 1.5rem;
  }

.check{
    width: 1rem;
    height: 2.8rem;
    border: 2px solid #E6E5EA;
    background: transparent;
}
.white-style{
    
    width: 1rem;
    height: 2.8rem;
    border: 2px solid #E6E5EA !important;
    background: transparent !important;

}



.style{
    background: #F8CD65;
    border: none;
}
.styleRed{
    background: #e17070;
    border: none;
}

.stylegreen{
    background: #A4FFAF;
    border: none;
}

.styleBorder{
    border: 2px solid #E6E5EA;
    background: transparent;
}

  button{
    margin-top: 1.6rem;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A4FFAF;
    gap: 1.6rem;
    font-family: 'JetBrains Mono';
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #24232C;
    cursor: pointer;
  }

  button:hover{
    background:transparent;
    border: 2px solid #A4FFAF;
    color: #A4FFAF; 
  }
  button:hover .svg path{
    fill: #A4FFAF;
  }
 
@media only screen and (min-width: 768px){

    .title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-top: 13.3rem;
        margin-bottom: 3.1rem;
    }
    
.pass-div{
    height: 8rem;
    width: 54rem;
    padding: 1.9rem 2.8rem 1.9rem 1.9rem;
    font-size: 3.2rem;
    line-height: 4.2rem;
}

.container{
    margin-top: 2.4rem;
    width: 54rem;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}
.length{
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.result{
    font-size: 3.2rem;
    line-height: 4.2rem;
}

.slider {
    margin-top: 2.5rem;
  }

  .includes{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #E6E5EA;
    gap: 1.9rem;
    margin-top: 4.2rem;
  }
  .checkbox{
    gap: 2.4rem;
  }
  .strength{
    margin-top: 3.1rem;
    height: 7.2rem;
    padding: 2.1rem 2.1rem 2.1rem 3.2rem;

    font-size: 1.8rem;
    line-height: 2.4rem;
  }
.medium{
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  button{
    margin-top: 3.2rem;
    height: 6.5rem;
    gap: 2.4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}


